.principles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 10px;
  gap: 20px;

  > div {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    background-color: $dark-gray;
    color: $light;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: default;

    h4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 14px;
      font-size: 1.2em;
    }

    span {
      font-family: $font-light;
    }

    &:hover {
      background-color: $opacity-gray;

      > h4 {
        color: $primary;
      }
    }
  }
}

.personal {
  > div {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-top: 20px;
  }
}
