.projectItem {
  background-color: $background;
  border-radius: 6px;
  box-shadow: $shadow-dark;
  flex-basis: 33.33%;
  text-decoration: none;
  overflow: hidden;
  position: relative;

  .projectImage {
    width: 100%;
    aspect-ratio: 16/9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;

    > img {
      width: 100%;
      object-fit: cover;
      transition: all 0.4s ease;
    }

    &:hover > img {
      transform: scale(1.1);
    }
  }

  .projectDetails {
    padding: 10px;

    .projectBadge {
      position: absolute;
      top: 4px;
      right: 4px;
      /* float: right; */
      padding: 3px 6px;
      border-radius: 4px;
      background-color: $dark;
    }

    .projectTitle {
      font-weight: 500;
      font-size: 17px;
    }

    .projectDescription {
      font-size: 14px;
      color: $gray;
    }
  }
}
