.container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--dark-gray);
  padding: 16px 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  gap: 18px;
  border-bottom-left-radius: 12px;
}
.container > * {
  text-decoration: none;
  transition: all 0.4s ease;
}
.container > *:hover {
  color: var(--orange);
}
.current {
  color: var(--orange);
  text-decoration: underline;
}
