.container {
  width: 32.5%;
  border-radius: 6px;
  background-color: $dark-gray;
  padding: 12px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .badge {
    padding: 3px;
    border-radius: 4px;
    background-color: $opacity-gray;
    font-size: 13px;
  }
  .title {
    padding-top: 10px;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
  }
}
