.container {
  background-color: $dark-gray;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 0;

  h2 {
    font-family: $font-bold;
    font-size: 34px;
    color: white;
  }
}
