@font-face {
  font-family: $font-heavy;
  src: url(./assets/fonts/VisbyHeavy.otf) format('opentype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: $font-extrabold;
  src: url(./assets/fonts/VisbyExtrabold.otf) format('opentype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: $font-bold;
  src: url(./assets/fonts/VisbyBold.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: $font-semibold;
  src: url(./assets/fonts/VisbySemibold.otf) format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: $font-medium;
  src: url(./assets/fonts/VisbyMedium.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: $font-regular;
  src: url(./assets/fonts/VisbyRegular.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: $font-light;
  src: url(./assets/fonts/VisbyLight.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: $font-thin;
  src: url(./assets/fonts/VisbyThin.otf) format('opentype');
  font-style: normal;
  font-weight: 200;
}
// ITALICS
@font-face {
  font-family: $font-heavy-italic;
  src: url(./assets/fonts/VisbyHeavyItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: $font-extrabold-italic;
  src: url(./assets/fonts/VisbyExtraboldItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: $font-bold-italic;
  src: url(./assets/fonts/VisbyBoldItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: $font-semibold-italic;
  src: url(./assets/fonts/VisbySemiboldItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: $font-medium-italic;
  src: url(./assets/fonts/VisbyMediumItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: $font-regular-italic;
  src: url(./assets/fonts/VisbyRegularItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: $font-light-italic;
  src: url(./assets/fonts/VisbyLightItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: $font-thin-italic;
  src: url(./assets/fonts/VisbyThinItalic.otf) format('opentype');
  font-style: italic;
  font-weight: 200;
}

:root {
  /* Scheme */
  color-scheme: light dark;

  --background: #141414;
  --dark: #242424;
  --light: #ebebeb;
  --gray: #a2a2a2;
  --opacity-gray: #a2a2a291;
  --dark-gray: #3c3c3c;
  --primary: #f9c784;

  --shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
  --shadow-white: 0px 0px 10px 1px rgba(200, 200, 200, 0.4);
}

[data-theme='light'] {
  // inverted colors
  --background: #f0f0f0;
  --dark: #e0e0e0;
  --light: #242424;
  --gray: #a2a2a2;
  --opacity-gray: #a2a2a291;
  --dark-gray: #a3a3a3;
  --primary: #449ee7;

  --shadow: 0px 0px 10px 1px rgba(200, 200, 200, 0.4);
  --shadow-white: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
}

*,
*::after,
*::before {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  color: var(--light);
  background-color: var(--background);

  /* Fonts */
  font-family: $font-regular, Helvetica, Inter;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
  border: 3px solid var(--dark);
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary) transparent;
  }
}

/* LAYOUT */
.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 32px 64px;
  flex-direction: row;
  height: calc(100% - 32px * 2);

  #pages {
    flex: 1;
    border-radius: 12px;
    background-color: var(--dark);
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    box-shadow: var(--shadow);
    position: relative;
  }
}

/* HTML basics */
button:not(:disabled) {
  cursor: pointer;
}

a {
  color: var(--light);
  text-decoration: none;
}
