.categories {
  padding: 20px 10px;
}
.categories > span {
  margin-right: 20px;
  cursor: pointer;
}
.selected {
  color: var(--orange);
  text-decoration: underline;
}
.projectsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
.projectItem {
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: var(--shadow);
  flex-basis: 33.33%;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.projectImage {
  width: 100%;
  aspect-ratio: 16/9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
.projectImage > img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.projectImage:hover > img {
  transform: scale(1.1);
}
.projectDetails {
  padding: 10px;
}
.projectBadge {
  position: absolute;
  top: 4px;
  right: 4px;
  /* float: right; */
  padding: 3px 6px;
  border-radius: 4px;
  background-color: var(--dark);
}
.projectTitle {
  font-weight: 500;
  font-size: 17px;
}
.projectDescription {
  font-size: 14px;
  color: var(--gray);
}
