.categories {
  padding: 20px 10px;
}
.categories > span {
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.categories > span:hover {
  color: $primary;
}
.selected {
  color: $primary;
  text-decoration: underline;
}
.projectsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
