.container {
  max-width: 30%;
  width: 360px;
  border-radius: 12px;
  background-color: var(--dark);
  height: 100%;
  padding: 30px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}

/* HEADER */
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.avatar {
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.avatarImage {
  object-fit: fill;
  transition: transform 0.3s ease;
}
.avatar:hover > .avatarImage {
  transform: scale(1.2);
}
.name {
  text-align: center;
}
.badge {
  border-radius: 6px;
  background-color: var(--dark-gray);
  padding: 6px 18px;
}

/* CONTACT DETAILS */
.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.infoItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.infoHeader {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 400;
}

/* FOOTER */
.socialMediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.socialMediaContainer > * {
  background-color: var(--dark-gray);
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: all 0.4s ease;
}
.socialMediaContainer > *:hover {
  box-shadow: var(--white-shadow);
}
.rotate > * {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
