.container {
  max-width: 30%;
  width: 360px;
  border-radius: 12px;
  background-color: $dark;
  height: 100%;
  padding: 30px;
  box-shadow: $shadow-dark;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;

  /* HEADER */
  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .avatar {
      width: 160px;
      aspect-ratio: 1/1;
      border-radius: 20px;
      background-color: $dark-gray;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .avatarImage {
        width: 100%;
        object-fit: contain;
        transition: transform 0.3s ease;
        overflow: hidden;
      }
    }

    .name {
      text-align: center;
    }

    .badge {
      border-radius: 6px;
      background-color: $dark-gray;
      padding: 6px 18px;
    }
  }

  /* CONTACT DETAILS */
  .infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    .infoItem {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
      text-decoration: none;

      .infoHeader {
        text-transform: uppercase;
        color: $gray;
        font-weight: 400;
        transition: all 0.2s ease;
      }
      > p {
        color: $light;
        transition: all 0.2s ease;
      }
      &:hover {
        > p {
          color: $primary;
        }
        .infoHeader {
          color: $primary;
          opacity: 0.6;
        }
      }
    }
  }

  /* FOOTER */
  .socialMediaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    > * {
      background-color: $dark-gray;
      width: 42px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      transition: all 0.4s ease;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow-light;
      }
    }

    .rotate > * {
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
    }
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
